*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-image: linear-gradient( 0deg, rgba(30, 220, 200, 1) 23.8%, rgba(252, 221, 221, 1) 92% );
    height: 100vh;
}
h1, h2{
    text-align: center;
}
.head h1{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 60px;
    color: transparent;
    font-family: sans-serif;
    letter-spacing: 1px;
}
h2{
    font-family: 'Great Vibes', cursive;
}
.container{
    max-width: 100vw;
    border-radius: 10px;
}
img{
    border-radius: 50%;
    height: auto;
    width: 100%;
    aspect-ratio: 1;
}
.favs{
    font-size: 1.2rem;
      text-decoration: none;
      color: darkorange;
      cursor: pointer;
      font-weight: bold;
}
.img_container{
    position: relative;
}
.img_container::after{
    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, 50%);
}
button{
    text-transform: none;
    color: darkslategray;
    border: none;
    background: inherit;
    overflow: hidden;
    font-size: 25px;
}
#previous, #play, #next{
    font-size: 2.2rem;
}
.nav{
    height: 100vh;
}
.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }

.sidebar{
    position: fixed;
    top: 10%;
    left: 5%;
}
@media(max-width:992px){
    .nav{
        height: 10vh;
        width: 100%;
        z-index: 5000;
    }
    .nav .row{
        width: 100%;
    }
    .card{
        margin-top: 5rem!important;
    }
    .offcanvas{
        z-index: 6000;
    }
}
.items{
    cursor: pointer;
}
@media(max-width:768px){
    .links h5, .links i{
        font-size: 1rem;
    }
}
@media(max-width:576px){
    .links h5, .links i{
        font-size: 0.9rem;
    }
    .head h1{
        font-size: 3rem;
    }
}
@media(max-width:430px){
    .head h1{
        font-size: 2.8rem;
    }
    .head{
        margin-left: 0rem!important;
        margin-right: 0rem!important;
    }
}